<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body>
    <div class="main-wrapper">
    <%= render partial: 'layouts/header' %>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
    </div>
    <%= render partial: 'layouts/login_modal' %>
    <%= render partial: 'layouts/sign_up_modal' %>
    <%= render partial: 'layouts/product_quick_view_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
